# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Application data
journals/
uploads/
visualizations/
.gradio/

# Logs
logs/
*.log

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 