google-generativeai==1.7.0
numpy>=1.22.5
nltk>=3.8.1
scikit-learn>=1.2.2
gradio>=5.0.0
gradio-calendar>=0.0.6
matplotlib>=3.7.5
pillow>=10.2.0
pydub>=0.25.1
speechrecognition>=3.10.0
wordcloud>=1.9.2
facenet-pytorch>=2.5.3
fer>=22.5.0
mtcnn>=0.1.1
typing-extensions>=4.13.1
tensorflow>=2.15.0 